*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:'Poppins',sans-serif;
}

body{
  background:#0f172a;
  color:white;
}

.container{
  width:90%;
  max-width:1100px;
  margin:auto;
}

/* NAV */
header{
  background:#111827;
  position:sticky;
  top:0;
  padding:15px 0;
}

.nav{
  display:flex;
  justify-content:space-between;
  align-items:center;
}

.logo{
  color:#38bdf8;
}

nav a{
  color:white;
  margin-left:15px;
  text-decoration:none;
  transition:0.3s;
}

nav a:hover{
  color:#38bdf8;
}

/* HERO */
.hero{
  height:90vh;
  display:flex;
  align-items:center;
  text-align:center;
}

.hero h2{
  font-size:45px;
  margin-bottom:15px;
}

.hero p{
  max-width:700px;
  margin:auto;
  color:#cbd5e1;
  margin-bottom:20px;
}

.btn{
  background:#38bdf8;
  padding:12px 25px;
  color:white;
  text-decoration:none;
  border-radius:8px;
}

/* SECTIONS */
.section{
  padding:80px 0;
}

.dark{
  background:#111827;
}

.title{
  text-align:center;
  margin-bottom:40px;
  color:#38bdf8;
  font-size:32px;
}

/* CARDS */
.grid{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
  gap:15px;
}

.card{
  background:#1e293b;
  padding:20px;
  text-align:center;
  border-radius:10px;
  transition:0.3s;
}

.card:hover{
  transform:translateY(-5px);
}

.box{
  background:#1e293b;
  padding:25px;
  margin-bottom:15px;
  border-radius:10px;
}

.box h3{
  color:#38bdf8;
  margin-bottom:10px;
}

/* LINKS */
.links a{
  color:#38bdf8;
  margin-right:10px;
  text-decoration:none;
}

/* FOOTER */
footer{
  text-align:center;
  padding:20px;
  background:#111827;
  color:#94a3b8;
}

/* RESPONSIVE */
@media(max-width:768px){
  .nav{
    flex-direction:column;
  }

  nav{
    margin-top:10px;
  }

  .hero h2{
    font-size:30px;
  }
}